{% extends "colorfulDomination_app/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block references %}
	<link rel="stylesheet" type="text/css" href="{% static 'colorfulDomination_app/css/cssPlayCD.css' %}" /> 
{% endblock %}

{% block content %}
	<!--Navigation bar-->
	<nav id="navMain">
		<ul>
			<li id="home"><a href="{% url 'index' %}"><h2>Home</h2></a></li>
			<li id="basics"><a href="{% url 'basics' %}"><h2>Basics</h2></a></li>
			<li id="play"><a href="{% url 'play' %}"><h2>Play</h2></a></li>
			<li id="protips"><a href="{% url 'protips' %}"><h2>Pro Tips</h2></a></li>
		</ul>
	</nav>
	
	<!--HTML + content of 'Play' page-->
	<section id="playSection">
	
		
		<div id=signInAndGuestAccessDiv>
			<h3>Sign In</h3>
			<form id=signIn  method="post" action="{% url 'login_user' %}">
				{{ signin_form.non_field_errors }}

				{{ signin_form.username.label_tag }}
				{{ signin_form.username.errors }}
				{{ signin_form.username|add_class:'textfield'|attr:'autofocus' }}

				{{ signin_form.password.label_tag }}
				{{ signin_form.password.errors }}
				{{ signin_form.password|add_class:'textfield' }}

				{% csrf_token %}
				
				<div class="submitContainer">
				<input type="submit" value="Sign in">
				</div>
			</form>
			<form id=guestAccess method="POST" action="{% url 'login_guest' %}">
				{% csrf_token %}
				<div class="submitContainer">
				<input type="submit" value="Play as a Guest" >
				</div>
			</form>
		</div>
		
		
		<div id=signUpDiv>
			<h3>Sign Up</h3>
			<form id=signUp method="post" action="{% url 'register' %}">
				{{ signup_form.non_field_errors }}
				
				{{ signup_form.username.label_tag }}
				{{ signup_form.username.errors }}
				{{ signup_form.username|add_class:'textfield' }}
				
				{{ signup_form.password1.label_tag }}
				{{ signup_form.password1.errors }}
				{{ signup_form.password1|add_class:'textfield' }}
				
				{{ signup_form.password2.label_tag }}
				{{ signup_form.password2.errors }}
				{{ signup_form.password2|add_class:'textfield' }}
				
				{% csrf_token %}
				
				<div class="submitContainer">
				<input type="submit" value="Sign up">
				</div>
			</form>
		</div>
	</section>
{% endblock %}