{% extends "colorfulDomination_app/base.html" %}
{% load static %}
{% block references %}
	<link rel="stylesheet" type="text/css" href="{% static 'colorfulDomination_app/css/cssProtipsCD.css' %}" /> 
{% endblock %}

{% block content %}
	<!--Navigation bar-->
	<nav id="navMain">
		<ul>
			<li id="home"><a href="{% url 'index' %}"><h2>Home</h2></a></li>
			<li id="basics"><a href="{% url 'basics' %}"><h2>Basics</h2></a></li>
			<li id="play"><a href="{% url 'play' %}"><h2>Play</h2></a></li>
			<li id="protips"><a href="{% url 'protips' %}"><h2>Pro Tips</h2></a></li>
		</ul>
	</nav>
	
	<!--HTML + content of 'Pro tips' page-->
	<section id="protipsSection">
	
		<h2>Editor's choice gameplays</h2>
		<div>
			<h3>ProTip_1</h3>
			<p>Description of ProTip_1</p>
		</div>
		<div>
			<p>An image or a video for ProTip_1</p>
		</div>
		<div>
			<p>An image or a video for ProTip_2</p>
		</div>
		<div>
			<h3>ProTip_2</h3>
			<p>Description of ProTip_2</p>
		</div>
	</section>
{% endblock %}