*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	font-family:Arial,Tahoma,Verdana,sans-serif;
	min-height:600px;
	background-color:#eee;
}


#wrapper{
	margin: 0 auto;
	width:700px;	
}

	#wrapper, #wrapper *{
		background-color:#ccc;
	}

#headerMain {
	width:100%;
	margin-bottom:10px;
	overflow-y:auto;
}
	#headerMain, #headerMain *{
		background-color:#000;
	}
	
	#headerMain > div {
		float:left;
	}
	
	#gameName {
		width:60%;
		padding:3%;
		padding-left:5%;
	}
	
	#logo{
		width:20%;
		padding:5px;
		margin-left:10%;
	}
		#logo *{			
			max-width:6vw;
			min-width:40px;
		}

#navMain, #navMain ul{
	height:5vh;
	min-height:30px;
}
	
	#navMain ul{
		list-style:none;
	}	

		#navMain li{
			float:left;
			width: 25%;
			height:5vh;
			min-height:30px;
			vertical-align: middle;
			text-align: center;
		}

			#navMain a{
				display:block;
				width: 100%;
				height:100%;
			}
		
				#navMain h2{
					margin-top:0.2vh;
				}
		
		#navMain a:link,a:visited,a:active{
			color: black;
			text-decoration: none;
		}
		
		#navMain a:hover{
			text-decoration: underline;
		}
		
		#home, #home *{
			background-color:#ff66ff;
		}	
			#home:hover, #home:hover *{
				background-color:#ffaaff;
			}
			
		#basics, #basics *{
			background-color:#00ccff;		
		}
			#basics:hover, #basics:hover *{
				background-color:#00eeff;
			}
			
		#play, #play *{
			background-color:#33ff66;		
		}
			#play:hover, #play:hover *{
				background-color:#66ff99;
			}
		
		#protips, #protips *{
			background-color:#ffff33;		
		}
			#protips:hover, #protips:hover *{
				background-color:#ffff99;
			}
		
section{
	width:100%;
	display:block;
	margin-top:10px;
	overflow-y:auto;
}

#footerMain{	
	width:100%;
	height:auto;
	margin-top:10px;
	padding:5px;
	color:#ccc;
}

#footerMain, #footerMain *{
	background-color:#000;
}

img{
	width:100%;
	height:100%;
}
	
@media all and (max-width: 700px){
	#wrapper{
		margin:0;
		width:100vw;
	}
	*{
		overflow-x:hidden;
	}
}

@media all and (max-width: 500px){
	#wrapper{
		margin:0;
		width:100vw;
	}
	
	#gameName {
		padding:0;
		padding-top:3%;
		padding-left:5%;
	}
	
	#logo{
		max-width:50px;
	}	
	
	#navMain, #navMain ul{
		height:60px;
	}
	
		#navMain li{
				width: 50%;
				height:50%;
		}
		
	#play{
		clear:left;		
	}
}