#basics{
	text-decoration:underline;
	background-color:#00eeff;
}

	#basics:hover{}

#basicsSection{
		height:100vh;
		background-color:#f2f2f2;
	}
	
		#basicsSection div{
			width:50%;
			min-width:250px;
			height:25%;
			float:left;
			padding:10px;
		}

		#basicsSection h2{
			margin:20px;
			text-align:center;	
		}

@media all and (max-width: 500px){
	#basicsSection div{
		width:100%;
		padding:10px auto;
		float:none;
		clear:left;
	}
}