*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	font-family:Arial,Tahoma,Verdana,sans-serif;
	min-height:600px;
}


#wrapper{
	margin: 0 auto;
	width:700px;
}

#headerMain {
	width:100%;
	height:15vh;
	min-height: 75px;
	vertical-align: middle;
	background-color:#cccccc;
	margin-bottom:10px;
}
	
	#headerMain > div {
		float:left;
	}
	
	#gameName {		
		width:60%;
		text-align: left;
	}
	
	#logo{
		width: 40%;
		text-align: right;
		padding-right:10px;
	}	

#navMain, #navMain ul{
	height:5vh;
	min-height:30px;
}
	
	#navMain ul{
		list-style:none;
	}	

		#navMain li{
			float:left;
			width: 25%;
			height:5vh;
			min-height:30px;
			vertical-align: middle;
			text-align: center;
		}

			#navMain a{
				display:block;
				width: 100%;
				height:100%;
			}
		
				#navMain h2{
					height:100%;
				}
		
		#navMain a:link,a:visited,a:active{
			color: black;
			text-decoration: none;
		}
		
		#navMain a:hover{
			text-decoration: underline;
		}
		
		#home{
			background-color:#ff66ff;
		}	
			#home:hover{
				background-color:#ffaaff;
			}
			
		#basics{
			background-color:#00ccff;		
		}
			#basics:hover{
				background-color:#00eeff;
			}
			
		#play{
			background-color:#33ff66;		
		}
			#play:hover{
				background-color:#66ff99;
			}
		
		#protips{
			background-color:#ffff33;		
		}
			#protips:hover{
				background-color:#ffff99;
			}
		
section{
	width:100%;
	min-height:550px;
	display:block;
	margin-top:10px;
	overflow-y:auto;
}

#footerMain{	
	width:100%;
	height:auto;
	background-color:#cccccc;
	margin-top:10px;
	padding:5px;
}

@media all and (max-width: 700px){
	#wrapper{
		margin:0;
		width:100vw;
	}
	*{
		overflow-x:hidden;
	}
}

@media all and (max-width: 500px){
	#wrapper{
		margin:0;
		width:100vw;
	}
	
	#navMain, #navMain ul{
		height:60px;
	}
	
		#navMain li{
				width: 50%;
				height:50%;
		}
		
	#play{
		clear:left;		
	}
}

/*tabletview optimazation*/
@media all and (max-height: 600px){
	
}