#protips{
	text-decoration:underline;
	background-color:#ffff99;
}

	#protips:hover{}

#protipsSection{
	height:100vh;
	background-color:#f2f2f2;
}
	
	#protipsSection div{
		width:50%;
		min-width:250px;
		height:50%;
		float:left;
		padding:15px;
	}
	#protipsSection h2{
			margin:20px;
			text-align:center;	
	}

@media all and (max-width: 500px){
	#protipsSection div{
		width:100%;
		padding:15px auto;
		float:none;
		clear:left;
	}
}